<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <title>MvcForms - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/mvcForms.min.css" />

    <style>
        .buttonList li { margin: 5px; }
        .btn { margin-right: 5px; }
        .mfo-dialog { padding: 10px }
    </style>

    @if (Request.Cookies["disableJs"] == null || Request.Cookies["disableJs"].Value != "True")
    {
        <script src="~/Scripts/modernizr-2.8.3.js"></script>
    }

</head>

<body>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @if (Request.Cookies["disableJs"] == null || Request.Cookies["disableJs"].Value != "True")
    {
        <script src="~/Scripts/jquery-1.12.4.min.js"></script>
        <script src="~/Scripts/mvcForms.min.js"></script>

        <script>
            var pjaxOnError = mfoPjax.onError;

            mfoPjax.onError = function (jqXHR, textStatus, errorThrown, context, callback) {
                if (!pjaxOnError(jqXHR, textStatus, errorThrown, context, callback))
                    alert("textStatus='" + textStatus + "'\nerrorThrown='" + errorThrown + "'");
            }

            $(function () {
                mvcForms.init();
            });
        </script>
        @RenderSection("scripts", required: false)
    }
    else
    {
        <div>JS Disabled for testing</div>
        <pre><code>@RenderSection("scripts", required: false)</code></pre>
    }
</body>
</html>
