@{
    Layout = SharedViews.Master;
}
<div>
    <span id="header">@DateTime.Now.Ticks</span>
</div>
<div data-pjax="true">
    @RenderBody()
</div>
@section scripts {@RenderSection("scripts", false)}
