@inherits StubPage<string>
@{
    SetLayout("Home");
}
<div>

    @Html.LinkButton("<h3>Forms</h3>", FormsActions.Index())

    @Html.LinkButton("<h3>Pjax</h3>", PjaxActions.Index())

</div>
