@using MvcForms.StubApp.Views
@using MvcForms.StubApp.Controllers
@using MvcForms.Navigation
@inherits StubPage<object>
@{
    SetLayout("Home");
}
<div>

    <ul>
        <li>@Html.LinkButton(Html.Raw("<h4>Forms</h4>"), FormsActions.Index()).NoStyle()</li>
        <li>@Html.LinkButton(Html.Raw("<h4>Pjax</h4>"), PjaxActions.Index()).NoStyle()</li>
        <li>@Html.LinkButton(Html.Raw("<h4>Modal</h4>"), ModalActions.Index()).NoStyle()</li>
        <li>@Html.LinkButton(Html.Raw("<h4>Examples</h4>"), ExamplesActions.Index()).NoStyle()</li>
    </ul>


</div>
