@inherits System.Web.Mvc.WebViewPage
@using MvcForms.StubApp.Controllers
@{ Layout = "~/Views/Shared/_bootstrap.cshtml"; }
<div>
    <h3>ForModel</h3>
    <section>
        <ul>
            <li><a href="@Url.Content(FormsActions.ForModel())">ForModel()</a></li>
            <li><a href="@Url.Content(FormsActions.ForModel("test"))">ForModel("test")</a></li>
            <li><a href="@Url.Content(FormsActions.ForModel("tst"))">ForModel("tst")</a></li>
        </ul>
    </section>

    <h3>FormFor</h3>
    <section>
        <ul>
            <li><a href="@Url.Content(FormsActions.FormFor("test"))">FormFor("test")</a></li>
        </ul>
    </section>
</div>
