@inherits StubPage<string>
@{
    SetLayout("Home");
}
<div>

    @Html.LinkButton("<h4>Forms</h4>", FormsActions.Index())

    @Html.LinkButton("<h4>Pjax</h4>", PjaxActions.Index())

    @Html.LinkButton("<h4>Modal</h4>", ModalActions.Index())


</div>
