bin
obj
.vs
.vscode
*.user
/MvcForms/Content/mvcForms.css
/MvcForms/Content/mvcForms.min.css
/MvcForms/Scripts/mvcForms.js
/MvcForms/Scripts/mvcForms.min.js
/MvcForms.StubApp/wwwroot/js/mvcForms.js
/MvcForms.StubApp/wwwroot/css/mvcForms.min.css
