@inherits StubPage<FormForView>
@{
    SetLayout("FormFor");
}
<h3>FormFor</h3>

@using (var form = Html.FormFor(Model.PostCommand).Tag(t => t.Id("canSetId")).Begin())
{
    <div>@form.Html.TextBoxFor(m => m.Value)</div>
}