@inherits System.Web.Mvc.WebViewPage<FormForView>
@using System.Web.Mvc.Html
@using MvcForms.StubApp.Models.Forms
@{ Layout = "~/Views/Shared/_bootstrap.cshtml"; }

<h3>FormFor</h3>

@using (var form = Html.FormFor(Model.PostCommand).Tag(t => t.Id("canSetId")).Begin())
{
    <div>@form.Html.TextBoxFor(m => m.Value)</div>
}