@using MvcForms.Forms
@using MvcForms.StubApp.Models.Forms
@using MvcForms.StubApp.Views
@inherits StubPage<FormForView>
@model FormForView
@{
    SetLayout("FormFor");
}
<h3>FormFor</h3>

@using (var form = Html.FormFor(Model.PostCommand).Begin(f => f.Tag(t => t.Id("canSetId"))))
{
    <div>@form.Html.TextBoxFor(m => m.Value)</div>
}
