@using MvcForms.StubApp.Models.Forms
@using MvcForms.StubApp.Views
@using MvcForms.Forms
@inherits StubPage<ForModelView>
@model ForModelView
@{
    SetLayout("ForModelUsing");
}
<h3>ForModelUsing</h3>

@using (Html.BeginForm())
{
    using (var form = Html.ForModelScope(Model.Post))
    {
        <div>@form.Html.TextBoxFor(m => m.BasicValue)</div>
        <div>{scopedValidation=@form.Html.ValidationMessageFor(m => m.BasicValue)}</div>
    }
}
