@inherits System.Web.Mvc.WebViewPage<ForModelView>
@using System.Web.Mvc.Html
@using MvcForms
@using MvcForms.StubApp.Models.Forms
@{ Layout = "~/Views/Shared/_bootstrap.cshtml"; }

<h3>ForModel</h3>

@if (Model != null && Model.Post != null)
{
    <p>BasicValue=@Model.Post.BasicValue</p>
}

@using (Html.BeginForm())
{
    <div>@Html.ForModel(Model.Post).TextBoxFor(m => m.BasicValue)</div>
    <div data-id="validationOutput">{validation=@Html.ForModel(Model.Post).ValidationMessageFor(m => m.BasicValue)}</div>

    <input type="submit" class="btn btn-default"/>

}