@inherits PjaxPage<string>
@{
    SetLayout("Examples");
}
<h3>Examples</h3>
<section>
    <ul class="buttonList">
        <li>@Html.LinkButton("Buttons", ExamplesActions.Buttons())</li>
    </ul>
</section>
