@using MvcForms.Navigation
@using MvcForms.StubApp.Controllers
@using MvcForms.StubApp.Views
@inherits PjaxPage<string>
@model string
@{
    SetLayout("Examples");
}
<h3>Examples</h3>
<section>
    <ul class="buttonList">
        <li>@Html.LinkButton("Buttons", ExamplesActions.Buttons())</li>
        <li>@Html.LinkButton("Inputs", ExamplesActions.Inputs())</li>
        <li>@Html.LinkButton("Scroll", ExamplesActions.Scroll())</li>
    </ul>
</section>
