@inherits StubPage<object>
@{
    SetLayout("Page 1");
}
<div>
    Page 1
</div>
<div>
    <a href="@Url.Content(SystemActions.PjaxPage2())">Navigate to 2</a>
    <a href="@Url.Content(SystemActions.PjaxTimeout())">Navigate timeout</a>
</div>
