@inherits StubPage<object>
@{
    SetLayout("Page 2");
}
<div>
    Page 2
</div>
<div>
    <a href="@Url.Content(SystemActions.PjaxPage1())">Navigate to 1</a>
    <a href="@Url.Content(SystemActions.PjaxPage2())" data-nopjax="true">Navigate to 2</a>
    <a href="@Url.Content(SystemActions.PjaxPage3())">Navigate Redirect</a>
    <a href="@Url.Content(SystemActions.PjaxPageErr())">Navigate Error</a>
</div>
