@inherits StubPage<object>
@{
    SetLayout("Page 1");
}
<div>
    Page 1
</div>
<div>
    @Html.LinkButton("Navigate to 2", SystemActions.PjaxPage2())
    @Html.LinkButton("Navigate timeout", SystemActions.PjaxTimeout())
</div>
