
.mfo-overlay {
    background-color: rgba(0,0,0,1);
    opacity: 0;
    color: #fff;
}

.mfo-dialog {
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
}
