@inherits StubPage<string>
@{
    SetLayout("Client Dialogs");
}
<h3>Client Dialogs</h3>

<ul class="double-size">
    <li>Some text></li>
</ul>

<ul>
    <li><button id="openDialog">Open Dialog</button></li>
    <li><button id="openSmallDialog">Open Small Dialog</button></li>
    <li><button id="openWideDialog">Open Wide Dialog</button></li>
</ul>

<style>
    .client-dialog {
        padding: 6px;
    }
</style>

@section scripts {
<script>

    $(function () {

        $(document).on('click', '#openDialog', function () {

            mfoDialog.showModal(
                '<div class="client-dialog">'
                + '<ul class="double-size"><li>some text</li></ul>'
                + 'Hello World'
                + '</div > '
            );

        });

        $(document).on('click', '#openSmallDialog', function () {

            mfoDialog.showModal(
                '<div class="client-dialog" data-modal-width="200px">'
                + '<ul class="double-size"><li>some text</li></ul>'
                + 'Hello World'
                + '</div > '
            );

        });

        $(document).on('click', '#openWideDialog', function () {

            mfoDialog.showModal(
                '<div class="client-dialog" data-modal-width="95%">'
                + '<ul class="double-size"><li>some text</li></ul>'
                + 'Hello World'
                + '</div > '
            );

        });

        $(document).on('click', '.double-size', function (e) {

            var container = $(e.currentTarget);
            container.html(container.html() + container.html());

        });

    });

</script>
}
