@inherits StubPage<string>
@{
    SetLayout("Client Dialogs");
}
<h3>Client Dialogs</h3>

<ul class="double-size">
    <li>Some text</li>
</ul>

<ul>
    <li><button id="openDialog">Open Dialog</button></li>
    <li><button id="openSmallDialog">Open Small Dialog</button></li>
    <li><button id="openWideDialog">Open Wide Dialog</button></li>
    <li><button class="open-nested-dialog">Open Nested Dialog</button></li>
</ul>


<section>
    <h3>Some focusable elements</h3>
    <button>button</button>
    <button disabled="disabled">button disabled</button>
    <input type="text" />
    <a onclick="alert('clicked'); return false;" href="#" disabled="disabled">anchor</a>
    <select><option>option 1</option></select>
    <textarea>textarea</textarea>
</section>

<style>
    .client-dialog {
        padding: 6px;
    }

    li {
        margin: 5px;
    }
</style>

@section scripts {
<script>

    $(function () {

        $(document).on('click', '#openDialog', function () {

            mfoDialog.showModal(
                '<div class="client-dialog" data-title="Open Dialog">'
                + '<ul class="double-size"><li>some text</li></ul>'
                + 'Hello World'
                + '<a href="#" data-close-dialog="true">Cancel</a>'
                + '</div > '
            );

        });

        $(document).on('click', '#openSmallDialog', function () {

            mfoDialog.showModal(
                '<div class="client-dialog" data-modal-width="200px" data-title="Open Small Dialog">'
                + '<ul class="double-size"><li>some text</li></ul>'
                + 'Hello World'
                + '<a href="#" data-close-dialog="true">Cancel</a>'
                + '</div > '
            );

        });

        $(document).on('click', '#openWideDialog', function () {

            mfoDialog.showModal(
                '<div class="client-dialog" data-modal-width="95%">'
                + '<ul class="double-size"><li>some text</li></ul>'
                + 'Hello World'
                + '<a href="#" data-close-dialog="true">Cancel</a>'
                + '</div > '
            );

        });

        $(document).on('click', '.open-nested-dialog', function () {

            var content = '<ul>';
            for (var i = 0; i < (10 - mfoDialog.dialogCount() * 2); i++) {
                content += '<li>some text</li>';
            }

            content += '</ul>'

            mfoDialog.showModal(
                '<div class="client-dialog"  data-title="Dialog' + (mfoDialog.dialogCount() + 1) + '">'
                + content
                + '<button class="open-nested-dialog">Open Nested Dialog</button>'
                + '<a href="#" data-close-dialog="true">Cancel</a>'
                + '</div > '
            );

        });

        $(document).on('click', '.double-size', function (e) {

            var container = $(e.currentTarget);
            container.html(container.html() + container.html());

        });

    });

</script>
}
