@inherits StubPage<string>
@{
    SetLayout("Client Dialogs");
}
<h3>Client Dialogs</h3>

<ul>
    <li><button id="openDialog">Open Dialog</button></li>
</ul>

<style>
    .client-dialog {
        padding: 6px;
    }
</style>

@section scripts {
<script>

    $(function () {

        $(document).on('click', '#openDialog', function () {

            mfoDialog.showModal('<div class="client-dialog">Hello World</div>');

        });

    });

</script>
}
