@inherits PjaxPage<string>
@{
    SetLayout("ModalIndex");
}
<h3>ModalIndex</h3>
<section>
    <ul class="buttonList">
        <li>@Html.LinkButton("Client Dialogs", ModalActions.Client())</li>
        <li>@Html.LinkButtonModal("Modal1", ModalActions.Page1())</li>
    </ul>
</section>
