@using MvcForms.Navigation
@using MvcForms.StubApp.Controllers
@using MvcForms.StubApp.Views
@inherits PjaxPage<object>
@{
    SetLayout("ModalIndex");
}
<h3>ModalIndex</h3>
<section>
    <ul class="buttonList">
        <li>@Html.LinkButton("Client Dialogs", ModalActions.Client()).NoPjax()</li>
        <li>@Html.LinkButtonModal("Modal1", ModalActions.Page1())</li>
    </ul>
</section>
