@using MvcForms.Forms
@using MvcForms.Navigation
@using MvcForms.StubApp.Controllers
@using MvcForms.StubApp.Views
@inherits StubPage<object>
@{
    SetLayout("Page2");
}
<h3>Page2</h3>

@using (var form = Html.Form().Begin())
{

    @form.Html.LinkButtonCancelModal().DefaultModalReturn(ModalActions.Index())
    @form.Html.ButtonSubmit("OK")

}
<br />