@inherits StubPage<string>
@{
    SetLayout("Page2");
}
<h3>Page2</h3>

@using (var form = Html.Form().Begin())
{

    @form.Html.LinkButtonCancelModal().DefaultModalReturn(ModalActions.Index())
    @form.Html.ButtonSubmit("OK")

}
