@using MvcForms.Forms
@using MvcForms.Navigation
@using MvcForms.StubApp.Controllers
@using MvcForms.StubApp.Views
@inherits StubPage<object>
@{
    SetLayout("Page1");
}
<h3>Page1</h3>
<p>Count=@ModalController.Count</p>
@using (var form = Html.Form().Begin())
{

    @form.Html.LinkButtonCancelModal().DefaultModalReturn(ModalActions.Index())
    @form.Html.ButtonSubmit("OK")

}
<section>
    <ul class="buttonList">
        <li>@Html.LinkButtonModal("Modal2", ModalActions.Page2())</li>
    </ul>
</section>
