@inherits PjaxPage<string>
@{
    SetLayout("Form:" + Model);
}
<form method="post">
    @if (Request.HttpMethod == "POST")
    {
        <div>button=@Request.Form["button"]</div>
    }

    <span>enter 'Success' to complete form: </span>
    <input type="text" name="postedValue" value="@Model" />
    @Html.ButtonSubmit("go").Name("button").Value("go")
    @Html.ButtonSubmit("redirect").Name("redirect").Value("redirect").NoPjax()
</form>