@using MvcForms.Navigation
@using MvcForms.StubApp.Controllers
@using MvcForms.StubApp.Views
@inherits PjaxPage<object>
@{
    SetLayout("Pjax");
}
<h3>Pjax</h3>
<section>
    <ul class="buttonList">
        <li>@Html.LinkButton("Page1", PjaxActions.Page1())</li>
        <li>@Html.LinkButton("Form", PjaxActions.Form())</li>
        <li>@Html.LinkButton("FormGet", PjaxActions.FormGet())</li>
    </ul>
</section>
