@inherits PjaxPage<object>
@{
    SetLayout("Page 1");
}
<div>
    Page 1
</div>
<div>
    @Html.LinkButton("<i>Navigate to 2</i>", PjaxActions.Page2())
    @Html.LinkButton("Navigate timeout", PjaxActions.Timeout())
</div>
