@inherits PjaxPage<object>
@{
    SetLayout("Page 2");
}
<div>
    Page 2
</div>
<div>
    @Html.LinkButton("Navigate to 1", PjaxActions.Page1())
    @Html.LinkButton("Navigate to 2", PjaxActions.Page2()).NoPjax()
    @Html.LinkButton("Navigate Redirect", PjaxActions.Page3())
    @Html.LinkButton("Navigate Error", PjaxActions.PageErr())
</div>
<div style="margin-top: 20px">
    <a href="#" id="customLink">Click</a>
    <div id="hidden" style="display: none">Hidden=false</div>
</div>
@section scripts {
<script>
    $('#customLink').click(function () {
        $('#customLink').hide();
        $('#hidden').show();
    });
</script>
}
